<div>
    <h1>Employment Application</h1>
    <div>
        <p>How many years of experience does the applicant have?</p>
        <ul>
            <li>no experience</li>
            <li>less than 2 years</li>
            <li>2 to 5 years</li>
            <li>more than 5 years</li>
        </ul>
    </div>
     <div>
        <p>Does the applicant have Angular experience?</p>
        <ul>
            <li>yes</li>
            <li>no</li>
        </ul>
    </div>
    <div>
        <p>If so, how does the applicant rate themselves?</p>
        <ul>
            <li>beginner</li>
            <li>intermediate</li>
            <li>expert</li>
        </ul>
    </div>
     <div>
        <p>Does the applicant have C# experience?</p>
        <ul>
            <li>yes</li>
            <li>no</li>
        </ul>
    </div>
    <div>
        <p>If so, how does the applicant rate themselves?</p>
        <ul>
            <li>beginner</li>
            <li>intermediate</li>
            <li>expert</li>
        </ul>
    </div>
    <div>
        <p>Does the applicant have Flutter experience?</p>
        <ul>
            <li>yes</li>
            <li>no</li>
        </ul>
    </div>
    <div>
        <p>If so, how does the applicant rate themselves?</p>
        <ul>
            <li>beginner</li>
            <li>intermediate</li>
            <li>expert</li>
        </ul>
    </div>
    <div>
        <p>Education level</p>
        <ul>
            <li>high school</li>
            <li>undergrad</li>
            <li>post grad</li>
            <li>other</li>
        </ul>
    </div>
    <div>
        <p>Knowledge of development in:</p>
        <ul>
            <li>front end</li>
            <li>back end</li>
            <li>architecture</li>
            <li>other</li>
        </ul>
    </div>
    <div>
        <p>Social Security Number</p>
        <input type="text"/>
    </div>
    <div>
        <p>Is the applicant legally able to work in the US?</p>
        <ul>
            <li>yes</li>
            <li>no</li>
        </ul>
    </div>
</div>
