<div>
    <h1>Employment Application Review</h1>
    <div>
        <p>How many years of experience does the applicant have?</p>
        <p>no experience</p>
    </div>
     <div>
        <p>Does the applicant have Angular experience?</p>
        <p></p>
        <ul>
            <li>yes</li>
            <li>no</li>
        </ul>
    </div>
    <div>
        <p>If so, how does the applicant rate themselves?</p>
        <p></p>
        <ul>
            <li>beginner</li>
            <li>intermediate</li>
            <li>expert</li>
        </ul>
    </div>
     <div>
        <p>Does the applicant have C# experience?</p>
        <p></p>
        <ul>
            <li>yes</li>
            <li>no</li>
        </ul>
    </div>
    <div>
        <p>If so, how does the applicant rate themselves?</p>
        <p>intermediate</p>
        <ul>
            <li>beginner</li>
            <li></li>
            <li>expert</li>
        </ul>
    </div>
    <div>
        <p>Does the applicant have Flutter experience?</p>
        <p>no</p>
    </div>
    <div>
        <p>Education level</p>
        <p>post grad</p>
    </div>
    <div>
        <p>Knowledge of development in</p>
        <p>front end, back end</p>
    </div>
    <div>
        <p>Social Security Number</p>
        <p>123-12-1234</p>
    </div>
    <div>
        <p>Is the applicant legally able to work in the US?</p>
        <p>yes</p>
    </div>
</div>
